<section class="container">
  <h1>Clientes Cadastrados</h1>
  <table>
    <thead>
      <tr>
        <th class="col-id">ID</th>
        <th class="col-nome">Nome</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes()" (click)="abrirModal(cliente)" class="linha-clicavel">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nome }}</td>
      </tr>
    </tbody>
  </table>
</section>

<app-cliente-modal
  *ngIf="clienteSelecionado()"
  [cliente]="clienteSelecionado()!"
  (fechar)="fecharModal()"
  (salvar)="onSalvar($event)"
  (excluir)="onExcluir($event)"
>
</app-cliente-modal>
