
.container {
    background-color: #fff;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 115%;
}

.container h1 {
    text-align: center;
    margin-bottom: 10%;
}

.container table {
    width: 100%;
    border-collapse: collapse;
    display: flex;
    justify-content: left;
    gap: 10%;
    
    
}